* {
  box-sizing: border-box;
}
body {
  background-color: green;
}
#canvas_field {
  border: 2px brown solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(6, 219, 6);
}
#canvas_barn {
  border: 2px red solid;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: red;
}
img {
  display: none;
}
